/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/*Archivo*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px;
    padding: 0px;
    word-break: break-word;
}
/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Defining Constant Colors */
:root {
    --ios-red: #ff2d55;
    --red: #f14e4e;
    --orange: #f1bb4e;
    --orange-bright: fb641b;
    --green: #84f14e;
    --teal: #00ffe3;
    --blue: #4e9af1;
    --purple: #9a4ef1;
    --lightpurple: #9c7dff;
    --pink: #f14ebd;
    --hot-pink: #e91e63;
    --pink-bright: #ea1e63; 
    --primary: #7511e1;
    --border: #9558ff;
    --nav: #111023;
    --table-border: #002987;
    --cell-width: 150px;
}


/* Scroll Wheel */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--lightpurple);
    border-radius: 20px;
    border: 3px solid var(--purple);
}

/* Body */
body {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /*    font-family: 'Lato', sans-serif;*/
    font-weight: 300;
    width: clamp(100vh, 100%, 420vh);
    height: clamp(100vh, 100%, 420vh);
    /*    width: 100vw;*/
    /*    height: 100vh;*/
    background-color: #0c0c1a;
    background-size: cover;
    background-repeat: no-repeat;
    color: aquamarine;
    line-height: 1.6;
}

.filter
{
    width: clamp(50%, 15vw, 100%);
}
.clamp-300-500-600 {
    width: clamp(30%, 500px, 91%);
}
.page {
    width: clamp(100%, 100%, 120%);
    height: clamp(100%, 100%, 120%);
    /*background: url(https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/freeimg_51228672freejpg850.jpg);*/
    font-family: 'Lato', sans-serif;
    background-image: url("images/colors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: clamp(100%, 100%, 120%);
    height: clamp(100%, 100%, 120%);
    /*background: url(https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/freeimg_51228672freejpg850.jpg);*/
    font-family: 'Lato', sans-serif;
/*    background-image: url("images/colors.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.page-index {
    width: clamp(100%, 100%, 120%);
    height: clamp(100%, 100%, 120%);
    /*    background-image: url(images/bloom.png);*/
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
    font-family: 'Lato', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    text-transform: uppercase;
    background-color: var(--nav);
    padding: 1%;
}
.footer {
    color: teal;
    text-transform: uppercase;
    background-color: var(--nav);
    padding: 0% 2%;
}
.navbar-nav {
    width: 600px;
}
.nav-item {
    padding: 1.5%;
}

.nav-links {
    font-size: clamp(50%, 16px, 130%);
    font-weight: 400;
    color: white;
    width: clamp(8em, 9.2em, 11em);
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border: 2px solid white;
    border-radius: .75rem;
}

.nav-links2 {
    font-size: clamp(50%, 16px, 130%);
    color: white;
    width: clamp(4em, 7em, 12em);
    height: clamp(4em, 8vh, 11em);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border: 2px solid white;
    border-radius: .75rem;
}
.nav-links:hover, .nav-links2:hover, .active-link {
    color: var(--teal);
    border-radius: 1.5rem;
    border: 2px solid var(--teal);
}

.linkButton {
    padding: 1%;
    margin: 0.5em 0.55em;
    border: 0.15rem solid var(--lightpurple);
    border-radius: .75rem;
    text-decoration: none;
    width: 9.2em;
    font-size: clamp(40%, 16px, 130%);
    font-weight: 300;
    color: var(--lightpurple);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    color: var(--lightpurple);
    background-color: var(--nav);
    /*    background-color: var(--teal);*/
}

.linkButton2 {
    padding: 1%;
    margin: 0.5em 0.55em;
    border: 0.15rem solid var(--lightpurple);
    border-radius: .75rem;
    text-decoration: none;
    width: 60%;
    height: 50px;
    font-size: clamp(40%, 16px, 130%);
    font-weight: 300;
    color: var(--lightpurple);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    color: var(--lightpurple);
    background-color: var(--nav);
}

.linkButton:hover {
    border: 0.15em solid var(--hot-pink);
    border-radius: 1.5rem;
    color: var(--hot-pink);
    background-color: var(--nav);
    transition: all 0.5s ease 0s;
}

.active-link-button {
    border: 0.15em solid var(--teal);
    color: var(--teal);
    font-weight: 500;
}
.hint {
    color: cyan;
    text-decoration: none;
}
.containerCard {
    color: cyan;
    margin: 3rem;
    width: 35%;
    padding: 5%;
    border: 5px solid orange;
/*    background-color: #161743;*/
    background-color: #080438;
    border-radius: 1rem;
}
/*Responsive Card grid max cell width 200px*/
.cards {
    margin: 5%;
    background-color: #080438;
    display: grid;
    width: 400px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    gap: 20px;
}

label {
    display: contents !important;
}

h1 {font-size: 350%; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }
h2 { font-size: 200%; font-family: -apple-system, BlinkMacSystemFont, sans-serif }
h3 { font-size: 150%; font-family: -apple-system, BlinkMacSystemFont, sans-serif }
h4 { font-size: 120%; font-family: -apple-system, BlinkMacSystemFont, sans-serif }
h5 { font-size: 100%; font-family: -apple-system, BlinkMacSystemFont, sans-serif }
p { font-size: 150%; font-family: -apple-system, BlinkMacSystemFont, sans-serif}

hr {
    opacity: 1;
    height: 5px;
    width: 100%;
}

.hr-red {
    display: block;
    background-color: var(--ios-red);
    border-color: var(--ios-red);
    border-radius: 5px;
    color: #bb0c0c;
    opacity: 1;
    width: 90%;
}


.hr-purple {
    display: block;
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 1;
    width: 90%;
}

.panel-orange {
    border: 3px solid var(--orange);
    background-color: var(--nav);
}
.primary {
    border-radius: .75rem;
    font-weight: 300;
    background-color: var(--primary);
    color: cyan;
}
